extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            <h1>¿Qué es la heterosexualidad?</h1>
            <h5>¿De donde proviene?</h5>
            <p>La palabra heterosexual proviene del griego que significa diferente. su palabra coloquial en ingles es "Straigth".</p>
            <img src="images/personashetero.jpg" alt="personas hetero">