extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 ¿Que es la homosexualidad?
            h5 ¿que significa homo?
            p La palabra homo proviene del griego que significa mismo. La palabra homosexual a lo largo de la historia fue utilizada de forma negativa, y se la ha asociado con la desviación y otras cualidades negativas. En ingles la palabra (homo) constituye una version coloquial despectiva de homosexual.
            
            p Por este motivo, muchas personas LGBT no utilizan ni defienden el uso de la palabra homosexual, y prefieren gay, lesbiana, bisexual u otro término. Utilice siempre el término que utiliza la persona con la que usted está hablando, y evite utilizar el término homosexual en inglés salvo que esta lo utilice antes.
            br
            <img class="gais" src="images/personashomosexuales.jpg" alt="personas homosexuales">  