extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 ¿Qué es el intersexo?
            p El intersexo es un término general que agrupa numerosas variaciones corporales naturales de las carac<wbr/>erísticas sexuales, entre las que se incluyen la anatomía reproductiva, las hormonas o los     patrones cromosómicos que difieren de las definiciones habituales de cuerpos de hombre y de mujer. Estas variaciones pueden ser visibles al nacer, desarrollarse en la pubertad o no     manifestarse externamente. Debido a que sus cuerpos son considerados distintos, las perso- nas intersexuales se enfrentan al estigma y a la violación de sus Derechos Humanos.

            h5 ¿Cuando se determina a un bebe intersexual?
            p Les niñes intersexuales, pueden ser sometidos a una cirugía para adaptar sus cuerpos a las expectativas de un cuerpo masculino o femenino. Tenga presente que este tipo de       intervenciones quirúrgicas practicadas a lactantes, no pueden basarse en un consentimiento informado por definición. Esto implica que un bebé no puede elegir si desea someterse       o no a la cirugía. Estos procedimientos, con frecuencia irreversibles, pueden provocar esterilidad permanente, pérdida de sensación sexual, dolor, incontinencia y sufrimiento mental      para toda la vida, incluida la depresión.
            
            h5 ¿Por qué evitar confundir la itersexualidad con un trastorno medico?
            p La intersexualidad describe unas características sexuales físicas y biológicas, no una patología. La intersexualidad, como sexo biológico, es siempre congénita (está presente desde el nacimiento) y puede deberse a numerosas variaciones genéticas, cromosómicas u hormonales. Con frecuencia se considera que las personas intersexuales padecen una patología, o se les observa desde una perspectiva médica, debido a sus características biológicas       distintivas.

            <img class="intersexualidad" src="images/intersexualidad.png" alt="">
