extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 ¿quienes son lesbianas?
            h5 ¿de donde proviene?
            p La palabra lesbiana tiene su origen en la isla griega de Lesbos. De ahí procedía la poetisa Safo, que vivió en el siglo VI a. C. Es la primera poetisa de la que se tiene conoci- miento que escribió versos románticos sobre otras mujeres. Por ello se llama lesbianas a las mujeres que sienten atracción por otras mujeres.</p>

            <img src="images/lesbicas.jpg" alt="chicas lesbianas">
