extends header.pug
block content
    body 
        include ./navbar.pug
        section.article 
            h1 ¿Que es la orientacion sexual?
            h5 ¿Qué significa?
            p Significa la determinación de la posición relativa de alguien o algo o posición física relativa de algo. <br/><br/> Por tanto, cabe afirmar que la orientación hace referencia a la sexualidad de la persona. <br/><br/> Orientación sexual es un término neutro, que no implica ni elección, ni ausencia de esta. Así pues, se prefiere a términos como preferencia sexual y conducta sexual.
            h5 ¿Quien la posee?
            p Todas las personas. No importa si son heterosexuales, homosexuales, asexuales o bisexuales, u otra expresion de la sexualidad humana
