extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 Poné a prueba tus conocimientos
            section.form
                h3.form__title Cuestionario, ¿Que tanto sabes?
                span.form__transition-d
                button.form__button Empezar
            //- .form-check
            //-     input.form-check-input(type="radio", name="flexRadioDefault", id="flexRadioDefault1")
            //-     label.form-check-label(for="flexRadioDefault1") Opciòn 1
            //- .form-check
            //-     input.form-check-input(type="radio", name="flexRadioDefault", id="flexRadioDefault2")
            //-     label.form-check-label(for="flexRadioDefault2") Opciòn 2
            //- .form-check
            //-     input.form-check-input(type="radio", name="flexRadioDefault", id="flexRadioDefault3")
            //-     label.form-check-label(for="flexRadioDefault3") Opciòn 3
            