extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 ¿Qué es la transexualidad?
            h5 ¿Qué significa la palabra trans?
            p Al otro lado de. Por lo tanto, la palabra transgénero significa al otro lado de los géneros.

            h5 ¿Cuál es la diferencia entre la palabra transgénero e identidad de género?
            p El término identidad de género, se refiere a tu sentimiento interior con respecto a cuál es tu género. Puede que te identifiques con el género que se corresponde con el sexo que se te asignó al nacer, o puede que no. Transgénero describe a alguien cuya identidad de género no se corresponde con el sexo o género que se le asignó al nacer, por ejemplo, lo que figura en su certificado de nacimiento.

            h5 ¿Todas las personas transgénero experimentan un proceso de transición?
            p No. No todas las personas transgénero hacen la transición. Muchas de estas personas no desean hacerla, y puede que no se presenten o expresen con el género que se corresponde con su identidad de género.

            img(src="images/personatrans.jpg", alt="persona transexual")
